<br>
<p>
  <strong>Название города:</strong><br>
  <%= @town.town_name %>
</p>

<br>
<div class="link"><%= link_to 'Изменить', edit_town_path(@town) %></div>
<div class="link"><%= link_to 'Назад', towns_path %></div>